.textField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 42px;
  margin: 15px;
}

.signUp {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #737373;
}

.whiteInput {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 268px;
  height: 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 300%;
  color: #737373;
  padding: 12px 8px;
  background-color: #fafafa;
}

.whiteInput::placeholder {
  color: #737373;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #737373;
}

.agreeSignUp {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #737373;
}

.link {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #00376b;
}

.loadingText {
  color: #999;
  margin-top: 8px;
  font-size: 14px;
}
