.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    padding: 8px 20px;
    background-color: var(--main-button-background);
    border: none;
}

.btn:hover{
    background-color: var(--hover-background-color) ;
}